/* OVERRIDE BOOTSTRAP */
.page-header{
  margin-top: 0;
}
.navbar-right{
  padding-right: 20px;
}
.thumbnail{
  margin-bottom: 0px;
}

/* site */
body {
  font-size: 14px;
  font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #555;
  background-color: #f9f9f9; }

.span10{
  padding: 0 10px;
  display: inline-block;
}

.span20{
  padding: 0 20px;
  display: inline-block;
}

.page-header h3{
  font-size: 19px;
  color: #888;
}


/* header */
#hs21-nav a{
  color: #888;
}
#hs21-nav a:hover{
  color: #cc0000;
  text-decoration: none;
}
#hs21-nav a i{
  width: 15px;
}

.site-footer{
  padding: 30px 5px;
  margin: 30px 0;
  border-top: 1px dashed #ddd;
}

.navbar-brand{
  font-size: 25px;
}


.navbar-collapse a{
  color: #aaaaaa;
}

/* Post  */

.post-header {
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}
.post-header .post-title {
  padding: 20px 0 10px 0;
  font-size: 23px;
  color: #666;
}
.post-header .post-meta{
  color: #888;
}
.post-header .post-meta .tags{
  display: inline-block;
  float: right;
  color: #aaa;
}
.post .post-content{
  margin-top: 10px;
  padding: 10px;
  color: #666
}
.post-tag{
  color: #bbb;
}
.post-tag:hover{
  color: #dd0000;
  text-decoration: none;
}


/* index */
.post-wrapper .page-header{
  margin-top: 0;
}

.post-wrapper .page-header .post-date{
  display: inline-block;
  margin-right: 10px;
}

.post-wrapper .page-header a{
  color: #888;
  font-weight: bold;
}
.post-wrapper .page-header a:hover{
  color: #cc0000;
  text-decoration: none;
}

/* about */
.about-item{
  margin:10px 18px;
  padding: 5px;
  border-bottom: 1px dashed #ddd;
}
.about-item .about-icon{
  display: inline-block;
  width: 20px;
  font-size: 20px;
}
.about-item .about-span{
  padding-left: 10px;
  display: inline-block;
  font-size: 14px;
}

/* archive */
.arch-seg{
  margin-bottom: 20px;
}
.arch-seg h4{
  font-size: 17px;
  color: #999;

}
.arch-seg ul li{
  list-style: none;
  padding: 3px;
  font-size: 15px;
  color: #777;
}
.arch-post-title{
  color: #aa0000;
  font-size: 14px;
  
}
.arch-post-title:hover{
  text-decoration: none;
  color: #dd0000;
  font-size: 14px;
}
.arch-post-author{
  font-size: 12px;
  color: #aaa;
}

/* tags */
.tags-tag-link{
  display: inline-block;
  padding: 3px;
  color: #cc0000;
  font-size: 14px;
}
.tags-tag-link:hover{
  text-decoration: none;
  color: #ee0000;
}
#tags-ul{
  padding: 3px;
}
#tags-ul li{
  list-style-type: none;
}
.tags-tag-head{
  margin-top: 10px;
  padding: 3px 0;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}
.tags-tag-head small{
  font-weight: 200;
}
.tags-tag-item{
  font-size: 14px;
  font-weight: normal;
  color: #777;
}
.tags-tag-item a{
  padding: 0 8px;
  font-weight: normal;
  color: #cc0000;
}
.tags-tag-item a:hover{
  text-decoration: none;
  color: #ee0000;
}

/* gallery */
.x1{
  width: 226px;
}
.x2{
  width: 452px;
}
#gallery{
  opacity: 0;
}
#gallery .gallery-item{
  margin-bottom: 3px;
}
.gallery-item .caption{
  font-size: 13px;
}
#gallery-loading{
  margin-top: 20px;
}

/* fm */
.fm-song-cover{
  width: 100px;
}