<footer class="site-footer">  
    <div class="pull-left">
      <p class="text-muted"> 
      	<i class="fa fa-bullhorn fa-lg"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-quote-left"></i> {{ site.description }} <i class="fa fa-quote-right"></i></p>
    </div>
    <div class="pull-right">
      <p class="text-muted">&copy;&nbsp;2014 ~ &infin; &nbsp;&nbsp;{{ site.author }}</p>
    </div>
  </div>
  
</footer>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54311369-1', 'auto');
  ga('send', 'pageview');

</script>