<header id="hs21-nav" class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-reorder fa-lg"></i>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{site.title}}</a>
    </div>

    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a title="档案文件" href="#">
            <i class="fa fa-list"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">档案文件</span>
          </a>
        </li>
        <li>
          <a title="标签" href="#">
            <i class="fa fa-tags"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">标签</span>
          </a>
        </li>
        <li>
          <a title="影像" href="#">
            <i class="fa fa-camera-retro"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">影像</span>
          </a>
        </li>
        <li>
          <a title="速记" href="#">
            <i class="fa fa-lightbulb-o"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">速记</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a title="关于我" href="{{ "/about" | prepend: site.baseurl }}">
            <i class="fa fa-user"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">about me</span>
          </a>
        </li>
        <li>
          <a title="有趣的链接" href="#">
            <i class="fa fa-link"></i>
            <span class="visible-xs-inline-block visible-sm-inline-block">有趣的链接</span>
          </a>
        </li>
        <li>
          <a title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <i class="fa fa-rss hidden-xs"></i>
          </a>
        </li>
      </ul>
    </nav>
</header>