---
layout: default
title: page2
---
<div class="page-content">
{% for media in site.categories.gallery offset:4 limit:4%} 
 	{% if media.type == "image" %}
      {% assign image = media %}
      {% assign links = image.links | split: "+++" %}
      {% for link in links %}
      {% assign desc = "description" | append: forloop.index %}
      {% assign qn_style = "?imageView/2/w/226/q/85" %}
      <div class="gallery-item x1">
        <div class="thumbnail">
          <img class="img-responsive" src="{{ link }}{{qn_style}}">
          <div class="caption">
              <p>{{ image[desc] }} </p>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="gallery-item x2">
      <div class="thumbnail"> 
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ media.link }} " allowfullscreen></iframe>
        </div>
        <div class="caption">
          <p>{{ media.description }}</p>
        </div>
      </div>
    </div>
    {% endif %}
{% endfor %}

<a id="gallery-next-page" href="{{ /gallery/page3 | prepend: site.baseurl }}">next page?</a>
</div>